---
import Layout from '../layouts/Layout.astro'; 
---


<Layout title="home">
	<a href="/login">Login</a>
	<a href="/dashboard">Dashboard</a>
	<a href="/order">WHERE IS MY FKIN PACKAGE</a>
</Layout>


